version: "3.9"

services:
  api-gateway:
    build: ./services/api-gateway
    environment:
      - PORT=8080
      - JWT_SECRET=${JWT_SECRET:-devsecret}
      - USER_SERVICE_URL=http://user-service:4001
      - BOOKING_SERVICE_URL=http://booking-service:4002
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - booking-service

  user-service:
    build: ./services/user-service
    environment:
      - PORT=4001
      - JWT_SECRET=${JWT_SECRET:-devsecret}
      - DB_HOST=users-db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=users_db
    ports:
      - "4001:4001"
    depends_on:
      - users-db

  booking-service:
    build: ./services/booking-service
    environment:
      - PORT=4002
      - DB_HOST=bookings-db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=bookings_db
      - NOTIFICATION_URL=http://notification-service:4003/api/notify
    ports:
      - "4002:4002"
    depends_on:
      - bookings-db
      - notification-service

  notification-service:
    build: ./services/notification-service
    environment:
      - PORT=4003
      - SMTP_HOST=mailhog
      - SMTP_PORT=1025
    ports:
      - "4003:4003"
    depends_on:
      - mailhog

  frontend:
    build: ./frontend
    environment:
      - VITE_API_BASE_URL=http://localhost:8080
    ports:
      - "5173:5173"
    depends_on:
      - api-gateway

  users-db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=users_db
    ports:
      - "5433:5432"
    volumes:
      - users_data:/var/lib/postgresql/data

  bookings-db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=bookings_db
    ports:
      - "5434:5432"
    volumes:
      - bookings_data:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  users_data:
  bookings_data:
